.container{
    background-color: #cbced4;
    display: inline-block;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
}

input{padding: 5px;}   
h2{margin-top: 0px}
h4{display: inline-block;margin: 5px 5px;}

button{
    padding: 5px 10px 5px 10px;
    font-size: 22px;
    margin-left: 10px;
}

.answer-container{
    text-align: left;
    border-radius: 3px;
    border: solid 1px black;
    padding: 10px;
}